# Trick to ignore files without extensions: Ignore everything, then
# "un-ignore" files with extensions and directories
*
!*/
!**/*.*

# Compiled Object files
**/*.o

# Ignored directories
build/
.cache/
